# Plex server address, including scheme and port
# Local LAN example: https://192.0.2.2:32400
PLEX_ADDRESS=https://192.0.2.2:32400

# Plex auth token
# https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token
X_PLEX_TOKEN=your_token_here
